body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-size: 100%;
  background-image: url("/images/cinema.jpg");
  
}

h1{
  font-size: 100px;
  color: white; 
  padding-top: 150px;
  
}

a {
  color: #00B7FF;
}

#mainPage{
  display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;
  padding: 120px, 120px, 120px, 120px;
 
  
}

.btn, btn-outline-danger{
font-size: 30px;
color:white
}